---
import Layout from "../layouts/Layout.astro";
import Experience from "../sections/Experience.astro";
import Experiencetwo from "../sections/Experiencetwo.astro";
import Footer from "../sections/Footer.astro";
import Home from "../sections/Home.astro";
import Projects from "../sections/Projects.astro";
import NavBar from "../sections/NavBar.astro";
---

<Layout title="Mi portafolio">
  <NavBar />
  <main>
    <Home />
    <Experience />
    <Projects />
    <Experiencetwo />
  </main>
  <Footer />
</Layout>
