<section class="w-[810px] mx-auto mt-[96px]">
  <!-- Title section -->
  <h2 class="font-extrabold text-4xl text-center">
    <span
      class="bg-gradient-to-b from-[#FF8660]
       to-[#D5491D] bg-clip-text text-transparent"
      >Experience</span
    >
  </h2>

  <!-- container experiencias -->
  <div class="flex flex-col mt-[57px]">
    <!-- Item 1 -->
    <div class="space-y-6">
      <div class="flex items-center justify-between">
        <!-- Logo y title -->
        <div class="flex gap-6">
          <img
            src="/experience/google-logo.png"
            alt="Descripción del ícono"
          />
          <p class="font-bold text-xl text-white">
            Lead Software Engineer at Google
          </p>
        </div>
        <p class="text-sm text-[#8491A0]">Nov 2019 - Present</p>
      </div>
      <div>
        <span class="text-sm text-[#8491A0]"
          >As a Senior Software Engineer at Google, I played a pivotal role in
          developing innovative solutions for Google's core search algorithms.
          Collaborating with a dynamic team of engineers, I contributed to the
          enhancement of search accuracy and efficiency, optimizing user
          experiences for millions of users worldwide.</span
        >
      </div>
    </div>
  </div>
</section>
