<section class="max-w-[810px] mx-auto mt-[88px]">
  <h2 class="font-semibold text-xl text-center
   text-gray">
    EXPERIENCES WITH
  </h2>

  <div class="mt-12 flex justify-center gap-14">
    <img
      src="/experience/javascript.png"
      alt="Descripción del ícono"
      class="h-12 w-12 mr-2"
    />
    <img
      src="/experience/nodejs.png"
      alt="Descripción del ícono"
      class="h-12 w-12 mr-2"
    />
    <img
      src="/experience/html.png"
      alt="Descripción del ícono"
      class="h-12 w-12 mr-2"
    />
    <img
      src="/experience/css.png"
      alt="Descripción del ícono"
      class="h-12 w-12 mr-2"
    />
    <img
      src="/experience/reactjs.png"
      alt="Descripción del ícono"
      class="h-12 w-12 mr-2"
    />
  </div>
</section>
