<footer class="bg-[#191919] mt-[107px]" id="contacto">
  <div class="max-w-[810px] md:mx-auto px-6  flex flex-col 
  justify-between pt-[90px]">
    <!-- Titulo -->
    <h2 class="font-bold text-white text-xl sm:text-2xl ">Contact</h2>
    <!-- Parrafo -->
    <span class="mt-8 text-gray font-light text-xs sm:text-sm text-justify"
      >Seasoned Full Stack Software Engineer with over 8 years of hands-on
      experience in designing and implementing robust, scalable, and innovative
      web solutions. Adept at leveraging a comprehensive skill set encompassing
      front-end and back-end technologies
    </span>
    <!-- Email -->
    <div class="flex items-center gap-2 mt-6">
      <img src="/experience/Email-Icon.png" alt="Descripción del ícono" loading="lazy" />
      <a href="#home"  class="text-gray font-semibold text-sm">abmcodehub@gmail.com</a>
    </div>
    <!-- Logos -->
    <div class="flex my-10 gap-7">
        <img src="/experience/instagram.png" alt="Descripción del ícono" loading="lazy" />
        <img src="/experience/x.png" alt="Descripción del ícono" loading="lazy" />
        <img src="/experience/youtube.png" alt="Descripción del ícono" loading="lazy" />
    </div>
  </div>
</footer>
