<section class="max-w-[810px] px-6 mx-auto 
pt-[150px] space-y-14" id="home">

  <div class="space-y-10">
    <div class="w-[213px] mx-auto h-[213px] rounded-full
     bg-blue-500"></div>
    <h1
      class="text-center max-w-[670px] mx-auto font-extrabold text-[40px]
     sm:text-[55px] sm:leading-[63px] text-white leading-[50px]"
    >
      I do code and <br /> make content <span
        class="bg-gradient-to-r from-[#FF8660]
      to-[#9E37F8] bg-clip-text text-transparent"
      >
        about it!</span
      >
    </h1>
    <p
      class="mt-10 text-center max-w-[670px] mx-auto font-light text-base sm:text-lg text-gray text-balance"
    >
      I am a seasoned full-stack software engineer with over 8 years of
      professional experience, specializing in backend development. My expertise
      lies in crafting robust and scalable SaaS-based architectures on the
      Amazon AWS platform.
    </p>
  </div>

  <!-- Botones -->
  <div class="items-center flex flex-col sm:flex-row
   sm:justify-center gap-5">
    <a
      href="#home"
      class="font-semibold text-xl
       flex items-center justify-center
       bg-white rounded-[50px] text-[#161513]
       w-[195px] h-[64px]"
      >Get in touch
    </a>
    <a
      href="#home"
      class="border-2 border-neutral-50
          font-semibold text-xl
       flex items-center justify-center
       bg-transparent rounded-[50px] text-[#FFFFFF]
       w-[195px] h-[64px]"
      >Download CV
    </a>
  </div>
</section>
