---
import ArrowUpRightIcon from "../components/icons/ArrowUpRightIcon.astro";
---

<section class="max-w-[810px] mx-auto mt-[88px]">
  <h2 class="font-extrabold text-4xl text-center
     text-[35px]">
    <span
      class="bg-gradient-to-b from-[#FF8660]
     to-[#D5491D] bg-clip-text text-transparent"
      >PROJECTS</span
    >
  </h2>

  <!-- Container-->
  <div class="flex gap-8 mt-[27px]">
    <!-- item 1-->
    <a href="" class="rounded-[18px] uppercase bg-[#2A2A2A]">
      <!-- IMG -->
      <div>
        <img class="rounded-t-[18px]" src="/project/powerofhtml.jpg" />
      </div>

      <!-- Text and Icon -->
      <div
        class="text-white flex
         justify-between items-center
         py-[20px] px-6"
      >
        <div class="flex flex-col uppercase">
          <span class="text-[10px]">Click here to visit</span>
          <span class="text-lg font-extrabold">html</span>
        </div>
        <ArrowUpRightIcon className="text-right text-white size-6" />
      </div>
    </a>

    <!-- item 2 -->
    <a href="" class="rounded-[18px] uppercase bg-[#2A2A2A]">
      <!-- IMG -->
      <div>
        <img class="rounded-t-[18px]" src="/project/powerofhtml.jpg" />
      </div>

      <!-- Text and Icon -->
      <div
        class="text-white flex
         justify-between items-center
         py-[20px] px-6"
      >
        <div class="flex flex-col uppercase">
          <span class="text-[10px]">Click here to visit</span>
          <span class="text-lg font-extrabold">html</span>
        </div>
        <ArrowUpRightIcon className="text-right text-white size-6" />
      </div>
    </a>
  </div>
</section>
